<!-- _head.html -->
<head>
    <meta charset="utf-8">
    <title>{{.About.Application}}</title>
    <meta name="description" content="{{.About.Note}}">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">

    <link rel="icon" type="image/png" href="/static/img/graduel-48.png" />

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/static/ui/semantic.min.css">
    <!-- Custom CSS -->
    <link href="/static/css/styles.css" rel="stylesheet">
    <style>
        body {
            display: flex;
            min-height: 100vh;
            flex-direction: column;
        }
        main {
            flex: 1;
        }
        .ui.menu .item img.logo {
            margin-right: 1em;
        }
    </style>
</head>