<!-- _navbar.html -->
<div class="ui grid" style="margin-bottom: 4em;">
    <div class="computer tablet only row">
        <div class="ui {{.Config.Theme}} inverted large fixed menu navbar page grid">
            <a href="/" class="brand item">
                <img class="logo" src="/static/img/graduel-48.png">
                {{.About.Application}}
            </a>
            <a href="/about" class="item">À propos</a>
            <div class="right menu">
                {{template "_navselect.html" .}}
                <div class="ui simple dropdown item">
                    {{if .Session.LoggedIn}}
                    <i class="user icon"></i> {{.Session.Username}}
                    {{else}} Non connecté {{end}}
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        {{if .Session.LoggedIn}}
                        <a class="item" href="/logout">Se déconnecter</a>
                        {{else}}
                        <a class="item" href="/login">Se connecter...</a>
                        {{end}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mobile only row">
        <div class="ui {{.Config.Theme}} inverted large fixed menu navbar">
            <div class="ui simple dropdown icon item">
                <i class="sidebar icon"></i>
                <div class="menu">
                    {{if .Session.LoggedIn}}
                    <div class="header">
                        <i class="user icon"></i> {{.Session.Username}}
                    </div>
                    <a class="item" href="/logout">Se déconnecter</a>
                    {{else}}
                    <a class="item" href="/login">Se connecter...</a>
                    {{end}}
                    <div class="divider"></div>
                    <div class="item">
                        Open...
                    </div>
                    <div class="item">
                        Save...
                    </div>
                    <div class="item">Edit Permissions</div>
                    <div class="divider"></div>
                    <div class="header">
                        Export
                    </div>
                    <div class="item">
                        Share...
                    </div>
                </div>
            </div>
            <a href="/" class="brand item">
                <img class="logo" src="/static/img/graduel-48.png">
                {{.About.Application}}
            </a>
            <a href="/about" class="item">À propos</a>
            <div class="right menu">
                {{template "_navselect.html" .}}
            </div>
        </div>
    </div>
</div>