<!-- NAVBAR -->
<div class="ui container">
  <div class="ui grey fixed large secondary inverted pointing menu">
    <a class="toc item">
      <i class="sidebar icon"></i>
    </a>
    <a href="/" class="header item">
      <img class="logo" src="/static/img/picsou.jpg">
      {{.Application.Title}}
    </a>
    <a href="/about" class="item">À propos</a>
    <div class="right menu">
      <div class="ui simple dropdown item">
        {{if .Session.LoggedIn}}
        <i class="user icon"></i> {{.Session.Username}}
        {{else}} Non connecté {{end}}
        <i class="dropdown icon"></i>
        <div class="menu">
          {{if .Session.LoggedIn}}
          <a class="item" href="/logout">Se déconnecter</a>
          {{else}}
          <a class="item" href="/login">Se connecter...</a>
          {{end}}
        </div>
      </div>
    </div>
  </div>
</div>
