<!DOCTYPE html>
<html>
{{template "_head.html" .}}

<body>
  {{template "_navbar.html" .}}
  <main class="mdl-layout__content">
   <div class = "wide-card mdl-card mdl-shadow--2dp">
      <div class = "mdl-card__title">
         <img src="/static/img/picsou.jpg"></img>
      </div>
   
      <div class = "mdl-card__supporting-text">
         <h2>{{.About.Application}}</h2>
         <p>{{.About.Note}}</p>
      </div>
   
      <div class = "mdl-card__actions mdl-card--border">
         <ul>
            <li>Version {{.About.Version}}</li>
            <li>du {{.About.Date}}</li>
            <li>&copy; {{.About.Author}}</li>
            <li><a href="https://github.com/pbillerot/graduel">Github</a></li>
         </ul>
      </div>
   
   </div>
  </main>
  {{template "_footer.html" .}}
</body>

</html>