<!DOCTYPE html>
<html>
{{template "_head.html" .}}

<body>
   {{template "_navbar.html" .}}
   <main>
      <div class="ui main text container">
         <div class="ui card">
            <div class="image">
               <img src="/static/img/picsou.jpg">
            </div>
            <div class="content">
               <a class="header">{{.About.Application}}</a>
               <div class="meta">
                  <span>Version {{.About.Version}}</span>
                  <span class="date">{{.About.Date}}</span>
                  <span class="user icon">{{.About.Author}}</span>
               </div>
               <div class="description">
                  {{.About.Note}}
               </div>
            </div>
            <div class="extra content">
               <a href="https://github.com/pbillerot/graduel">
                  <i class="github icon"></i>Github
               </a>
            </div>
         </div>
      </div>
   </main>
   {{template "_footer.html" .}}
</body>

</html>