<!-- <!DOCTYPE html> -->
<html>

<head>
  <title>{{.Application.Title}}</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="/static/ui/semantic.min.css">
  <!-- Custom CSS -->
  <link href="/static/css/styles.css" rel="stylesheet">
  <style>
    .main.container {
      margin-top: 8em;
    }

    .logo {
      margin-right: 1em;
    }

    /* .ui.secondary.menu .item img.logo {
            margin-right: 1em;
        }

        .secondary.pointing.menu .toc.item {
            display: none;
        }

        @media only screen and (max-width: 700px) {

            .secondary.pointing.menu .item,
            .secondary.pointing.menu .menu {
                display: none;
            }

            .secondary.pointing.menu .toc.item {
                display: block;
            }
        } */
  </style>
</head>

<body>
  <div class="ui inverted stackable top fixed container menu">
    <a href="/" class="header item">
      <img class="logo" src="/static/img/picsou.jpg">
      {{.Application.Title}}
    </a>
    <a class="active item">Home</a>
    <a class="item">Work</a>
    <a class="item computer only">Company</a>
    <a class="item">Careers xxx</a>
    <div class="right item">
      <a class="item">Work</a>
      <a class="ui  button">Log in</a>
    </div>
  </div>
  <div class="ui main container">
    <h1 class="ui header">
      Imagine-a-Company
    </h1>
    <h2>Do whatever you want when you want to.</h2>
    <div class="ui huge primary button">Get Started <i class="right arrow icon"></i></div>
  </div>
  <div class="ui container">
    <h3 class="ui header">Breaking The Grid, Grabs Your Attention</h3>
    <p>Instead of focusing on content creation and hard work, we have learned how to master the art of doing
      nothing
      by providing massive amounts of whitespace and generic content that can seem massive, monolithic and worth
      your attention.</p>
    <a class="ui large button">Read More</a>
    <h4 class="ui horizontal header divider">
      <a href="#">Case Studies</a>
    </h4>
    <h3 class="ui header">Did We Tell You About Our Bananas?</h3>
    <p>Yes I know you probably disregarded the earlier boasts as non-sequitur filler content, but its really true.
      It took years of gene splicing and combinatory DNA research, but our bananas can really dance.</p>
    <a class="ui large button">I'm Still Quite Interested</a>
  </div>
  <div class="ui container">
    <h3 class="ui header">Breaking The Grid, Grabs Your Attention</h3>
    <p>Instead of focusing on content creation and hard work, we have learned how to master the art of doing
      nothing
      by providing massive amounts of whitespace and generic content that can seem massive, monolithic and worth
      your attention.</p>
    <a class="ui large button">Read More</a>
    <h4 class="ui horizontal header divider">
      <a href="#">Case Studies</a>
    </h4>
    <h3 class="ui header">Did We Tell You About Our Bananas?</h3>
    <p>Yes I know you probably disregarded the earlier boasts as non-sequitur filler content, but its really true.
      It took years of gene splicing and combinatory DNA research, but our bananas can really dance.</p>
    <a class="ui large button">I'm Still Quite Interested</a>
  </div>



  <script src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
  <script defer src="/static/ui/semantic.min.js"></script>
  <script>
    $(document)
      .ready(function () {
        // create sidebar and attach to menu open
        // $('.ui.sidebar')
        //   .sidebar('toggle')
        //   ;
      });
  </script>
</body>

</html>